<div class="message-container">
  <div
    *ngIf="this.message.senderID === this.currentUserID"
    style="margin-left: auto; margin-right: 2rem"
  >
    <mat-card class="message-yourself">
      <mat-card-content class="message-content">
        <mat-card-subtitle>{{
          this.message.sentDate.toDate().toLocaleDateString() +
            " at " +
            this.message.sentDate.toDate().toLocaleTimeString()
        }}</mat-card-subtitle>
        <p>
          {{ this.message.content }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.message.senderID !== this.currentUserID">
    <mat-card class="message-others">
      <mat-card-header class="sender-name">
        {{ this.message.senderID }}
      </mat-card-header>
      <mat-card-subtitle>{{
        this.message.sentDate.toDate().toLocaleDateString() +
          " at " +
          this.message.sentDate.toDate().toLocaleTimeString()
      }}</mat-card-subtitle>
      <mat-divider style="width: 80%; margin-left: 0.5rem"></mat-divider>
      <mat-card-content class="message-content">
        <p>
          {{ this.message.content }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
