<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="parent">
  <mat-card class="messaging-container">
    <div class="conversation-tab">
      <h1 mat-subheader>Conversations : </h1>
      <mat-divider></mat-divider>
      <mat-button-toggle-group vertical name="conversations" aria-label="Conversations" class="conversation-toggle-group">
        <mat-button-toggle *ngFor="let conversation of conversationDictionary | keyvalue" [value]="conversation.key" (click)="onClickConversation(conversation.key)">{{conversation.value.conversationName}}</mat-button-toggle>
        <mat-divider></mat-divider>
      </mat-button-toggle-group>
    </div>
    <mat-divider [vertical]="true" class="mat-divider-vertical"></mat-divider>   
    <div *ngIf="chosenConversation" class="conversation-container">
        <app-conversation [conversationID]="chosenConversation" [currentUserID]="currentUserID" class="messages"></app-conversation>
          <mat-divider></mat-divider>
          <app-create-message [conversationID]="chosenConversation" [conversationData]="conversationDictionary[chosenConversation]" ></app-create-message>
    </div>
  </mat-card>
</div>