# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/AgileFront/dist
/AgileFront/tmp
/AgileFront/out-tsc
/AgileFront/bazel-out

# Node
/node_modules
/AgileFront/node_modules
/AgileFrontnpm-debug.log
/AgileFrontyarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
/AgileFront/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/AgileFront/.angular/cache
/AgileFront/.sass-cache/
/AgileFront/connect.lock
/AgileFront/coverage
/AgileFront/libpeerconnection.log
/AgileFronttestem.log
/AgileFront/typings

# System files
.DS_Store
Thumbs.db

# Firebase
/AgileFront/.firebase
*-debug.log
/AgileFront/.runtimeconfig.json
