<div class="profile-container">
  <mat-card class="profile">
    <mat-card-header>
      <div style="display: flex; flex-direction: column">
        <div>
          <button
            *ngIf="!currentUrlIncludes('/me')"
            mat-raised-button
            style="margin-bottom: 1rem"
            (click)="previousUrl()"
          >
            <mat-icon>keyboard_return</mat-icon>Go Back
          </button>
        </div>
        <div style="display: flex; flex-direction: row">
          <img [src]="this.user.photoURL" alt="" class="profile-picture" />
          <div class="profile-header">
            <h1 class="profile-name">{{ user.name }} {{ user.surname }}</h1>
            <h2 class="occupation">{{ user.occupation }}</h2>
          </div>
        </div>
      </div>
      <a
        mat-raised-button
        routerLink="/messaging"
        class="edit-button"
        [hidden]="editButtonAvailable"
        (click)="createNewConversation()"
        ><mat-icon>mail</mat-icon>Contact</a
      >
      <a
        mat-raised-button
        routerLink="../edit"
        class="edit-button"
        [hidden]="!editButtonAvailable"
        ><mat-icon>edit</mat-icon>Edit Profile</a
      >
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <div class="profile-information">
          <div>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>mail</mat-icon>
              Email : {{ this.user.email }}
            </mat-list-item>
            <mat-list-item role="listitem"
              ><mat-icon matListItemIcon>call</mat-icon> Phone Number :
              {{ this.user.phoneNumber }}
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>home</mat-icon>
              Address : {{ this.user.address }}
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>location_city</mat-icon>
              Town : {{ this.user.town }}
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>local_post_office</mat-icon>
              Postal Code : {{ this.user.postalCode }}
            </mat-list-item>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div>
            <h2 class="profile-bio">Biography :</h2>
            <div class="profile-bio">
              {{ this.user.bio }}
            </div>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div>
            <h2 class="projects">Projects :</h2>
            <ng-container *ngFor="let post of postsTitleAndURL">
              <a mat-raised-button [href]="post.url" class="projects">
                <span class="projects-title">{{ post.title }}</span></a
              >
            </ng-container>
          </div>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
