.field {
  align-self: center;
}

.profileform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.field {
  padding-top: 20px;
}
