<mat-action-list>
  <div mat-list-item *ngIf="this.settingState === 'changeName'">
    <div class="name-input-container" mat-list-item>
      <form [formGroup]="nameForm" (ngSubmit)="updateName()">
        <mat-form-field class="name-input">
          <input
            matInput
            id="nameToSend"
            type="nameToSend"
            [formControl]="nameToSend"
            placeholder="Change conversation name..."
          />
        </mat-form-field>
        <button
          mat-button
          class="name-send-button"
          type="submit"
          [disabled]="nameToSend.invalid"
        >
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>

  <div mat-list-item *ngIf="this.settingState === 'addUser'" >
    <button (click)="addUser()" mat-list-item>
      <span matListItemTitle><mat-icon>schedule</mat-icon> Comming soon !</span>
    </button>    
  </div>

  <div mat-list-item *ngIf="this.settingState === 'removeUser'" >
    <button (click)="removeUser()" mat-list-item>
      <span matListItemTitle><mat-icon>schedule</mat-icon> Comming soon !</span>
    </button>   
  </div>

  <div mat-list-item *ngIf="this.settingState === 'deleteConv'" >
    <button (click)="deleteConv()" mat-list-item>
      <span matListItemTitle><mat-icon>warning</mat-icon>Are you sure ? </span>
      <span matLine>You will lose all messages of this conversation !</span>
    </button>
  </div>

  <button (click)="toggleChange('menu')" mat-list-item *ngIf="this.settingState !== 'menu'">
    <span matListItemTitle>Return</span>
  </button>

  <div *ngIf="this.settingState === 'menu'" >
    <button (click)="toggleChange('changeName')" mat-list-item>
      <span matListItemTitle>Change Name</span>
      <span matLine>Change the conversation name</span>
    </button>

    <button (click)="toggleChange('addUser')" mat-list-item>
      <span matListItemTitle>Add User</span>
      <span matLine>add a user to the conversation</span>
    </button>

    <button (click)="toggleChange('removeUser')" mat-list-item>
      <span matListItemTitle>Remove User</span>
      <span matLine>Remove a user from the conversation</span>
    </button>

    <button (click)="toggleChange('deleteConv')" mat-list-item style="background-color: rgb(160, 19, 19)">
      <span matListItemTitle>Delete Conversation</span>
      <span matLine><b>Caution ! This action is permanant !</b></span>
    </button>

    <button mat-list-item>
      <span matListItemTitle>Close Setting</span>
    </button>
  </div>
  
</mat-action-list>
