<mat-action-list>
  <button mat-button mat-list-item>
    <span matListItemTitle>Change Name</span>
    <span matLine>Change the conversation name</span>
  </button>

  <button mat-button mat-list-item>
    <span matListItemTitle>Add User</span>
    <span matLine>add a user to the conversation</span>
  </button>

  <button mat-button mat-list-item>
    <span matListItemTitle>Remove User</span>
    <span matLine>Remove a user from the conversation</span>
  </button>

  <button mat-button mat-list-item style="background-color: rgb(160, 19, 19)">
    <span matListItemTitle>Delete Conversation</span>
    <span matLine><b>Caution ! This action is permanant !</b></span>
  </button>

  <button mat-button mat-list-item>
    <span matListItemTitle>Close Setting</span>
  </button>
</mat-action-list>
