<div class="comment-container">
  <mat-card>
    <mat-card-header>
      <img src="{{ this.user.photoURL }}" alt="" class="profile-picture" />
      <div class="name-container">
        <a
          style="text-decoration: none; font-weight: bold"
          [routerLink]="['/profile/', this.comment.userId]"
        >
          {{ this.user.name }} {{ this.user.surname }}
        </a>
        <h4 class="occupation">{{ this.user.occupation }}</h4>
      </div>
    </mat-card-header>
    <mat-card-subtitle style="margin-left: 0.5rem">{{
      this.comment.sentDate.toDate().toLocaleDateString() +
        " at " +
        this.comment.sentDate.toDate().toLocaleTimeString()
    }}</mat-card-subtitle>
    <mat-divider style="width: 80%; margin-left: 0.5rem"></mat-divider>
    <mat-card-content class="message-content">
      <p>
        {{ this.comment.content }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
