.profile-picture {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.occupation {
  color: gray;
}

.comment-container {
  display:flex;
  flex-direction:column;
}

.name-container {
  margin-top:0.7rem;
  margin-left: 1rem;
  display:flex;
  flex-direction :column;
}

.message-content {
  margin-top:0.5rem;
  font-weight:400;
}