<mat-card>
    <mat-card-content>
        <h1> add post </h1>
        <div class="container">
            <form (ngSubmit)="addPost(title,body,photoURL,userId, postId)">
                <p> Title </p>
                <input name="title" [(ngModel)]="title">
                <p> body </p>
                <input name="body" [(ngModel)]="body">
                <p> photoURL </p>
                <input name="photoURL" [(ngModel)]="photoURL">
                <p> userId </p>
                <input name="userId" [(ngModel)]="userId">
                <p> postId </p>
                <input name="postId" [(ngModel)]="postId">
                <button type="submit"> submit </button>
            </form>
        </div>
    </mat-card-content>
</mat-card>
  