<mat-tab-group
  color="primary"
  backgroundColor="primary"
  (selectedTabChange)="onTabChanged($event)"
  #tabs
>
<mat-tab routerLink="homepage">
  <ng-template mat-tab-label>
    <mat-icon>home</mat-icon> Homepage
  </ng-template>
</mat-tab>
  <div *ngIf="!isLoggedIn">
    <mat-tab *ngIf="!isLoggedIn" routerLink="login">
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon>
        Log In
      </ng-template>
    </mat-tab>
  </div>
  <div *ngIf="isLoggedIn">
    
    <mat-tab routerLink="messaging">
      <ng-template mat-tab-label>
        <mat-icon>mail</mat-icon>
        Inbox
      </ng-template>
    </mat-tab>
    <mat-tab routerLink="my-project-page">
      <ng-template mat-tab-label>
        <mat-icon>queue</mat-icon>My Projects
      </ng-template>
    </mat-tab>
    <mat-tab routerLink="profile/me">
      <ng-template mat-tab-label>
        <mat-icon>manage_accounts</mat-icon>My Profile
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>exit_to_app</mat-icon>Log Out
      </ng-template>
    </mat-tab>
  </div>
</mat-tab-group>
