<mat-card class="example-card" *ngIf="this.post">
  <mat-card-header>
    <img src="{{ this.user.photoURL }}" alt="" class="profile-picture" />
    <div class="profile-header">
      <a [routerLink]="['/profile/', this.post.userId]"
        ><h1 class="profile-name">
          {{ this.user.name }} {{ this.user.surname }}
        </h1></a
      >
      <h2 class="occupation">{{ this.user.occupation }}</h2>
    </div>
  </mat-card-header>
  <mat-card-title class="title">{{ this.post.title }}</mat-card-title>
  <mat-card-subtitle class="title">{{
    this.post.date * 1000 | date: "short"
  }}</mat-card-subtitle>
  <img mat-card-image src="{{ this.post.imageURL }}" alt="" />
  <mat-card-content>
    <br />
    <p>
      {{ this.post.body }}
    </p>
    <mat-card-subtitle id="likes-number">
      {{ this.post.likes.length }} user/s liked this post
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button (click)="likePost($event)">
      <mat-icon [ngStyle]="{ color: isPostLiked(this.post) ? 'red' : 'black' }"
        >favorite</mat-icon
      >
      LIKE
    </button>
    <button mat-button><mat-icon> comment</mat-icon> COMMENT</button>
    <button mat-button (click)="copyToClipboard()">
      <mat-icon>send</mat-icon> SEND
    </button>
    <a
        mat-raised-button
        [routerLink]="['../project/edit', this.post.postId]"
        class="edit-button"
        *ngIf="this.post.userId === currentUserId"
        ><mat-icon>edit</mat-icon>EDIT POST</a>
  </mat-card-actions>
</mat-card>
