<mat-card class="example-card" *ngIf="this.post">
  <mat-card-title class="title">{{ this.post.title }}</mat-card-title>
  <mat-card-subtitle>{{
    this.post.date * 1000 | date: "short"}}</mat-card-subtitle>
  <img mat-card-image src="{{ this.post.imageURL }}" alt="" />
  <mat-card-content>
    <br />
    <p>
      {{ this.post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>favorite</mat-icon> LIKE</button>
    <button mat-button><mat-icon> comment</mat-icon> COMMENT</button>
    <button mat-button (click)="copyToClipboard()">
      <mat-icon>send</mat-icon> SEND
    </button>
  </mat-card-actions>
</mat-card>
