<ng-container *ngIf="oldUserData === undefined; else content">
  <mat-spinner style="margin: auto auto;" color="warn"></mat-spinner>

  <ng-template #content>
    <div class="container rounded bg-white mt-5 mb-5">
      <form [formGroup]="profilForm" (ngSubmit)="profilOnSubmit()">
        <div class="row">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-circle mt-5" width="150px" [src]="" alt="User Profile Image">
              <span class="font-weight-bold"><!--{{oldUserData.name}}--></span>
              <span class="text-black-50"><!--{{oldUserData.email}}--></span>
            </div>
          </div>

          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Your Profile</h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <p>
                    <mat-form-field appearance="outline" class="profil-card-item">
                      <mat-label>Name</mat-label>
                      <input matInput id="name" formControlName="name" type="text">
                    </mat-form-field>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <mat-form-field appearance="outline" class="profil-card-item">
                      <mat-label>Surname</mat-label>
                      <input matInput id="surname" formControlName="surname" type="text">
                    </mat-form-field>
                  </p>
                </div>
              </div>

              <div class="col-md-12">
                <p>
                  <mat-form-field appearance="outline" class="profil-card-item">
                    <mat-label>Address</mat-label>
                    <input matInput id="adresse" formControlName="address" type="text">
                  </mat-form-field>
                </p>
                </div>

                <div class="col-md-12">
                <p>
                  <mat-form-field appearance="outline" class="profil-card-item">
                    <mat-label>Town</mat-label>
                    <input matInput id="ville" formControlName="town" type="text">
                  </mat-form-field>
                </p>
                </div>

                <div class="col-md-12">
                <p>
                  <mat-form-field appearance="outline" class="profil-card-item">
                    <mat-label>Postal Code</mat-label>
                    <input matInput id="codePostal" formControlName="postalCode" type="text">
                  </mat-form-field>
                </p>
                </div>

              <div class="text-center">
                <label for="profilPicture" class="md-button md-raised md-primary upload-button">Upload your profile photo: </label>
                <br>
                <input  id="profilPicture" (change)="onFileSelected($event)" type="file">
              </div>

              <div class="text-center bio">
                <mat-form-field appearance="outline" class="mat-form-bio">
                  <mat-label>Biography : </mat-label>
                  <textarea matInput style="width: 500px" formControlName="bio" id="bio" type="text">Test</textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-primary profile-button" type="submit" [disabled]="!profilForm?.valid">Update profile</button>
            </div>
          </div>

          
        </div>
      </form>
    </div>
  </ng-template>
</ng-container>
