<div class="container">
<form [formGroup]="editPostForm" class="edit-post-card" (ngSubmit)="onSubmitForm()">
  <mat-form-field appearance="fill">
    <mat-label for="title">Title</mat-label>
    <input
      matInput
      formControlName="title"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="body">Description</mat-label>
    <textarea matInput formControlName="body"></textarea>
  </mat-form-field>
  <h2>Project Image</h2>
  <app-file-upload
      formControlName="photo"
      (change)="onFileSelected($event)"
    ></app-file-upload>
  <div class="button-container">
  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="!editPostForm.valid"
  >
    Edit Post
  </button>
</div>
</form>
</div>